* {
  font-family: "myFont";
  font-weight: bold;
  resize: none;
}

.product-row {
  display: flex;
  gap: 50px;
  margin: 50px 18vh 0 30vh;
  padding: 0px 10vh 0 0vh;
}

.product-col:first-child {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.product-col:first-child img {
  width: auto;
  max-height: 30vh;
}

.product-col:first-child img.seller-product {
  position: absolute;
  top: -15px;
  right: 0px;
  width: 25%;
  border-radius: 50%;
  filter: drop-shadow(0 0 1px #485b63);
  height: auto;
}

.product-col:last-child {
  flex: 2;
}

.product-info {
  margin-bottom: 20px;
}

.product-info h2 {
  letter-spacing: 1.3px;
  color: #485b63;
}

.product-info .category {
  background: #ca2734 !important;
  width: max-content;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 2px 10px;
  border-radius: 3px;
  font-size: 12px;
  display: block;
}

.product-info:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.product-info .price {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.product-info .desc {
  color: #485b63;
  width: 100%;
  font-weight: 400;
}

.desc {
  margin-right: 80vh;
}

.product-add {
  margin-top: 15px;
}

.product-add button {
  display: block;
  float: right;
  background-color: #ebebea;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px #f0f3bd;
  color: #2f5f74;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.product-add button:hover {
  background-color: #2f5f74;
  color: #f0f3bd;
}

.proudct-remove button {
  /* background: #ca2734 !important; */
  display: block;
  float: right;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px #f0f3bd;
  color: rgb(58, 102, 152);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: all 0.5s;
  max-width: 27vh;
}

.like-add button {
  display: flex;
  background-color: #ebebea;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px #f0f3bd;
  color: #2f5f74;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.like-add button:hover {
  background-color: #2f5f74;
  color: #f0f3bd;
}

.like-remove button {
  /* background: #ca2734 !important; */
  display: block;
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px #f0f3bd;
  color: rgb(58, 102, 152);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.more-detail a {
  display: block;
  margin: 5 20px 0 auto;
  background-color: #ebebea;
  padding: 5px 10px;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px #f0f3bd;
  color: #2f5f74;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.more-detail a:hover {
  background-color: #2f5f74;
  color: #f0f3bd;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
